input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

/* animation for sticky icons on landing page */
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.animated-icon {
  transition: transform 0.5s ease-in-out;
}

.show-icons {
  display: flex !important;
  animation: scaleIn 0.5s ease-in-out forwards;
}

.hide-icons {
  display: none !important;
  animation: scaleOut 0.5s ease-in-out forwards;
}

/* Defining dots position on the Manage properties page */
.custom-swiper-pagination .swiper-pagination {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

@media (max-width: 640px) {
  .custom-swiper-pagination .swiper-pagination { 
    justify-content: flex-start;
    padding-right: 20px;
  }
}

/* Applying shadow on the card in About us page */
.shadow-right {
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Removing arrows when input type is number */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Animation for mobile nav */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}


/* Image gallery carousel */
.slider-container {
  border-radius: 0.7rem;
}

.slick-slide div {
  border-radius: 0.7rem;
}

.slick-list,
.slick-track {
  border-radius: 0.7rem;
}

.slick-slide img {
  border-radius: 0.7rem;
}

.rounded-border::after {
  content: " ";
  display: block;
  border-top: 2px solid skyblue;
  border-bottom: 2px solid skyblue;
  border-radius: 2px;
}

th {
  font-weight: normal;
}

/* Text Editor */
.ql-toolbar {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex !important;
  flex-wrap: wrap;
}

.ql-toolbar .ql-section {
  display: flex;
  padding: 0.5em;
  border-right: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  align-items: center;
}

.text-editor .ql-container {
  border-radius: 0 0 10px 10px;
}

.text-editor .ql-container .ql-editor {
  min-height: 300px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3em;
}

.buttons-container .field-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 1em 0 0.25em 0;
}

.buttons-container .field-buttons .field-save-btn,
.buttons-container .field-buttons .field-discard-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0 0.25em;
  background-color: gray;
  font-size: 0.9rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.buttons-container .field-buttons .field-save-btn {
  background-color: green;
  color: white;
}

.buttons-container .field-buttons .field-save-btn:hover {
  background-color: green;
}

.buttons-container .field-buttons .field-discard-btn {
  background-color: red;
  color: white;
}

.buttons-container .field-buttons .field-discard-btn:hover {
  background-color: red;
}

/* Font Styles */
.ql-font-arial {
  font-family: Arial !important;
}

.ql-font-comic-sans {
  font-family: "Comic Sans", cursive !important;
}

.ql-font-courier-new {
  font-family: "Courier New", Courier, monospace !important;
}

.ql-font-georgia {
  font-family: Georgia, serif !important;
}

.ql-font-helvetica {
  font-family: Helvetica, Arial, sans-serif !important;
}

.ql-font-lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

/* Media Query */
@media screen and (max-width: 440px) {
  .ql-toolbar .ql-section {
    font-size: 0.9rem;
  }
}